<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JSON2TABLE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id="wrapper">
      <h1>JSON2TABLE</h1>

      <div id="app">

        <!-- Input -->
        <div id="input-json">
          <h2>JSON Input</h2>
          <textarea v-model="input" rows="20" cols="150" placeholder="Type JSON"></textarea>
        </div>

        <!-- Response -->
        <div id="waiting" v-show="0 === Object.keys(originalJson).length">
          Table will appear here when your input can be parsed as JSON...
        </div>

        <div id="response" v-show="0 !== Object.keys(originalJson).length">
          <h2>Table for the input JSON</h2>

          <!-- Bread Crumb -->
          <div id="current_path">
            <span v-if="currentPath.length === 0">
              <b>{{ rootName }}</b>
            </span>
            <span v-else>
              <a class="psuedo_link" @click="currentPath=[]">{{ rootName }}</a>
            </span>
            <span v-for="(path, index) in currentPath">
              <span> </span>
              <span v-if="index !== currentPath.length - 1"> <!-- non-last element is displayed with link -->
                <a class="psuedo_link" @click="cutPath(index)">
                  <span v-if="isNaN(path)">.{{ path }}</span>
                  <span v-else>[{{path}}]</span>
                </a>
              </span>
              <span v-else> <!-- last element is displayed as bold without link -->
                <b>
                  <span v-if="isNaN(path)">.{{ path }}</span>
                  <span v-else>[{{path}}]</span>
                </b>
              </span>
            </span>
          </div>

          <!-- Table -->
          <div id="table_holder">
            <table border="1">
              <thead>
                <tr>
                  <th class="index">index</th>
                  <th v-if="isArrayOfNonObject"> - </th>
                  <th v-else v-for="key in currentColumns">
                    {{ key }}
                  </th>
                </tr>
              </thead>

              <tbody v-if="isArrayOfNonObject"> <!-- Partial json is Array and includes non-object elements (Number, String, Boolean) -->
                <tr v-for="(item, index) in currentJson">
                  <td class="index">{{ index }}</td>
                  <td>
                    <span v-if="item == null"></span>
                    <span v-else-if="Array.isArray(item)"><a class="psuedo_link" @click="pushPath(index)">[ ... ]</a></span>
                    <span v-else-if="item instanceof Object"><a class="psuedo_link" @click="pushPath(index)">{ ... }</a></span>
                    <span v-else>{{ item }}</span>
                  </td>
                </tr>
              </tbody>
              <tbody v-else-if="Array.isArray(currentJson)"> <!-- Partial json is Array of Object -->
                <tr v-for="(item, index) in currentJson">
                  <td class="index">{{ index }}</td>
                  <td v-for="key in currentColumns">
                    <span v-if="item == null"></span>
                    <span v-else-if="Array.isArray(item[key])"><a class="psuedo_link" @click="pushPath(index, key)">[ ... ]</a></span>
                    <span v-else-if="item[key] instanceof Object"><a class="psuedo_link" @click="pushPath(index, key)">{ ... }</a></span>
                    <span v-else>{{ item[key] }}</span>
                  </td>
                </tr>
              </tbody>
              <tbody v-else> <!-- Partial json is Object (not Array) -->
                <tr>
                  <td class="index"> - </td>
                  <td v-for="key in currentColumns">
                    <span v-if="currentJson[key] == null"></span>
                    <span v-else-if="Array.isArray(currentJson[key])"><a class="psuedo_link" @click="pushPath(key)">[ ... ]</a></span>
                    <span v-else-if="currentJson[key] instanceof Object"><a class="psuedo_link" @click="pushPath(key)">{ ... }</a></span>
                    <span v-else>{{ currentJson[key] }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Partial JSON -->
          <h2>Partial JSON displayed as the table</h2>
          <pre id="current-json"><code>{{ currentJson }}</code></pre>
        </div>
      </div>
    </div>

    <script>
      sampleJson = `
{"_comment": "sample json",
  "menu": {
  "id": "file",
  "value": "File",
  "popup": {
    "menuitem": [
      {"value": "New", "onclick": "CreateNewDoc()"},
      {"value": "Open", "onclick": "OpenDoc()"},
      {"value": "Close", "onclick": "CloseDoc()"}
    ]
  }
}}
`
    </script>

    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          rootName: 'Root',
          currentPath: [],
          input: sampleJson
        },

        computed: {
          /**
           * Object just parsed from the json input
           */
          originalJson: function() {
            try {
              return JSON.parse(this.input);
            } catch(error) {
              console.log(error);
              return {};
            }
          },

          /**
           * Partial object extracted from the original one with the selected path
           */
          currentJson: function() {
            try {
              return this.getPartialJson(this.originalJson, this.currentPath);
            } catch(error) {
              console.log(error);
              return {};
            }
          },

          /**
           * Keys of the partial object
           */
          currentColumns: function() {
            if(Array.isArray(this.currentJson)) {
              keys = [];
              this.currentJson.forEach(function(obj) {
                if(obj != null){
                  Object.keys(obj).forEach(function(key) {
                    if (keys.indexOf(key) < 0) keys.push(key);
                  });
                }
              });
              return keys;
            }
            else {
              return Object.keys(this.currentJson);
            }
          },

          /**
           * Judge whether the partial object is Array and includes non-object elements (Number, String, Boolean)
           */
          isArrayOfNonObject: function() {
            return (
              (Array.isArray(this.currentJson)) &&
              (this.currentJson.reduce(
                function(acc, item) {
                  return acc || typeof item !== 'object'
                }
                , false
              ))
            )
          }
        },

        methods: {
          /**
           * Get partial json at the specified path from full json (recursive function)
           * @param  {json} full json
           * @param  {path} path
           * @return {Object} partial json 
           */
          getPartialJson: function(json, path) {
            var _path = path.concat();
            if(_path.length === 0) return json;
            else if(_path.length === 1) return json[_path[0]];
            else return this.getPartialJson(json[_path.shift()], _path);
          },

          /**
           * Append all arguments to path array
           * @param  {Array} arguments path elements to append
           */
          pushPath: function() {
            for(var path of arguments){
              this.currentPath.push(path);
            }
          },

          /**
           * Cut path after the specified index
           * @param  {Number} index index from which the path array is cut
           */
          cutPath: function(index) {
            this.currentPath.splice(index + 1, this.currentPath.length - index - 1);
          }
        }
      });
    </script>
  </body>

</html>
